p {
    color:aqua;
}
body {
    background-image: url("https://d3iol5bv4sfgpb.cloudfront.net/main/images/db_images/venues/venue61bground.jpg");
}
href {
background-color : orange
    
}
h1{
    color: aliceblue
}
a {
    color: white
}
H2{
    color: white
}
h3{
    color: white
}
